.programs {
    padding: 4rem 1px;
    background-color: var(--light-background);

    /* background-color:blanchedalmond; */
    /* background: url('../images/background-hero.png') no-repeat;
    background-size: cover; */

}


/* Default: 3 columns */
.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 columns */
    /* justify-content: space-around; */
    grid-auto-rows: 1fr;
    gap: 1rem;
    /* optional, to add spacing between grid items */
}

/* 2 columns for medium screens (max-width: 1024px) */
@media (max-width: 1024px) {
    .grid3 {
        grid-template-columns: 1fr 1fr;
        /* 2 columns */
    }
}

/* 1 column for small screens (max-width: 600px) */
@media (max-width: 600px) {
    .grid3 {
        grid-template-columns: 1fr;
        /* 1 column */
        display: block;
        /* Fallback to block layout */
    }
}




.programs .programs-heading {
    /* color: white; */
    margin: 10px auto;
    text-align: center;
}


.programs-goal {
    background-color: white;
    /* max-width: 350px; */
    text-align: center;
    padding: 2rem;
    margin: 10px;
    border: 3px dashed black;
}

.programs-goal-heading {
    font-size: 1.1rem;
    margin: 1rem;
    line-height: 1;
    font-weight: 600;
}

.programs-goal i {
    font-size: 3rem;
}


.future {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    /* padding: 6rem auto; */
    padding: 5rem 1px;
}

.future-heading {
    /* padding-top: 2rem; */
    text-align: center;
    margin-bottom: 2rem;
}

.future-container {
    /* padding: 5rem auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
































.footer {
    background: #333;
    /* margin: 40px auto; */
    /* margin-top: 40px; */
    padding-top: 4rem;
    color: white;
    padding-bottom: 2rem;

}

.footer-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;

}

.footer-column {

    width: 400px;
    padding: 10px;

}

/* .footer-column element {
    margin: 10px;
} */

.footer-heading {
    font-weight: 600;
    font-size: 2rem;
}


.footer-address {
    margin: 20px auto;
    line-height: 1.5;

}

.footer-trademark {
    /* display: flex; */
    /* align-items: center; */
    /* word-spacing: 10px; */
    /* letter-spacing: 5px; */
    /* font-family: "Cairo", sans-serif; */
    font-size: 1rem;
    margin-top: 3rem;
}


.footer i {
    margin: 10px;
    /* color: white; */
    /* font-size: 2rem; */
}

.footer-logos {
    font-size: 1.5rem;
    /* color: white; */
}

.footer-logos i{
    color: white 
}



.footer .about span {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-right: 2rem;
}


.footer-col2 * {
    margin-bottom: 1.5rem;
}

.footer .btn i {
    font-size: 1rem;
}

















/* utility classes */