



.footer{
    background: #333;
    /* margin: 40px auto; */
    margin-top: 40px;
    padding-top: 8rem;
    color: white;
    
}


.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px auto;
    /* background-color: red; */
}


.footer-column{
    /* margin: 1rem; */
    /* max-width: 40%; */
    /* display: flex; */
    width: 50%;
    margin: 0 auto;
    /* flex-direction:column; */
}

.footer-heading{
    font-size: 2rem;
    font-weight: 600;
    padding: 20px auto;
    /* margin: 10px auto; */
    margin-bottom: 10px;
}

.footer-address{
    /* width: ; */
   margin-bottom: 10px; 
}

.footer-trademark{
    /* font-size: ; */
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
}