



.footer{
    background: #333;
    /* margin: 40px auto; */
    margin-top: 40px;
    padding-top: 4rem;
    color: white;
    padding-bottom: 2rem;
    
}


/* .footer .container-lg{
    
    border: 1px solid white;
} */



.footer-container{

    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
    padding-bottom: 5rem; 

}

.footer-column{

    width: 400px;
    padding: 10px;

}

/* .footer-column element {
    margin: 10px;
} */

.footer-heading{
    font-weight: 600;
    font-size: 2rem;
}


.footer-address{
    margin: 20px auto;
    line-height: 1.5;
    
}
.footer-trademark{
    /* display: flex; */
    /* align-items: center; */
    /* word-spacing: 10px; */
    /* letter-spacing: 5px; */
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
}


.footer i{
    margin: 10px;
    /* font-size: 2rem; */
}

.footer-logos{
    font-size: 1.5rem;
}

.footer .about span{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-right: 2rem;
}


.footer-col2 * {
    margin-bottom:1.5rem; 
}

.footer .btn i{
    font-size: 1rem;
}
